<!DOCTYPE html>

<html>

<head>
    <title>Admin Page</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link href="/admin.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/admin_ajax_req.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
        <% } %>
            <div class="main_content">
                <h1 style="text-align: center; margin: 50px;">This is the admin page analytics</h1>
                <table class="table">
                    <thead style="text-align: center;">
                        <tr>
                            <th scope="col" ">AMOUNT OF REGISTERED USERS</th>
                        <th scope=" col" ">AMOUNT OF INTERNET PROVIDERS</th>
                        <th scope=" col" ">UNIQUE DOMAINS ON DATABASE</th>
                    </tr>
                </thead>
                <tbody style=" text-align: center;">
                        <tr>
                            <td id="user_count">
                            </td>
                            <td id="host_count">
                            </td>
                            <td id="domains_col">
                            </td>
                        </tr>
                        </tbody>
                </table>

                <h3 style="text-align: center; margin-top: 30px;">Amount of request methods</h3>

                <table class="table">
                    <thead>
                        <tr id="methods_head" style="text-align: center;">           
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="methods_body" style="text-align: center;">                           
                        </tr>

                    </tbody>
                </table>


                <h3 style="text-align: center; margin-top: 30px;">Response status count</h3>
                <table class="table">
                    <thead>
                        <tr id="response_status_head" style="text-align: center;">
                        </tr>

                    </thead>
                    <tbody>
                        <tr id="response_status_body" style="text-align: center;">
                        </tr>
                    </tbody>
                </table>

                <h3 style="text-align: center; margin-top: 30px;">Average age of web objects per Content Type </h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="text-align: center;">
                                ALL Types
                            </th>
                            <th scope="col" style="text-align: center;">
                                Application
                            </th>
                            <th scope="col" style="text-align: center;">
                                Image
                            </th>
                            <th scope="col" style="text-align: center;">
                                Text
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr id="timing_table">

                            <td style="text-align: center;" id="avg_all">
                            </td>
                            <td style="text-align: center;" id="avg_app">
                            </td>
                            <td style="text-align: center;" id="avg_image">
                            </td>
                            <td style="text-align: center;" id="avg_text">
                            </td>

                        </tr>

                    </tbody>
                </table>







                <div class="header_analysis">
                    <h2 style="text-align: center; margin-top: 30px;">HTTP Headers Analysis</h3>
                        <h3 style="text-align: center; margin-top: 15px;">Percentage of cachebility directives</h3>
                        <canvas id="myChart" style="margin-top: 50px; margin-bottom: 50px; "></canvas>

                        <div class="dropdown">

                            <button class="dropbtn">Modify chart</button>
                            <div class="dropdown-content">
                                <a id="link1">Image</a>
                                <a id="application_javascript">Javascript</a>
                                <a id="font">Font</a>
                                <a id="reset">Reset</a>
                            </div>
                        </div>


                        <div class="chart-container">
                            <h3 style="text-align: center; margin-top: 30px;">RESPONSE TIME ANALYSIS (ms)</h3>
                            <canvas id="myChart2"></canvas>
                        </div>

                        <div>
                            <form id="chart_2_conf" style="display: inline-block;">
                                <div style="display: inline-block;">
                                    <p style="text-align: center;">METHODS</p>
                                    <input type="checkbox" id="get_method" name="method1" value="GET">
                                    <label for="method1"> GET</label><br>
                                    <input type="checkbox" id="post_method" name="method2" value="POST">
                                    <label for="method2"> POST</label><br>
                                    <input type="checkbox" id="options_method" name="method3" value="OPTIONS">
                                    <label for="method3"> OPTIONS</label><br><br><br><br><br><br>
                                </div>
                                <div style="display: inline-block;">
                                    <p style="text-align: center;">DAYS</p>
                                    <input type="checkbox" id="get_method" name="day1" value="Monday">
                                    <label for="day"> Monday</label><br>
                                    <input type="checkbox" id="post_method" name="day2" value="Tuesday">
                                    <label for="day"> Tuesday</label><br>
                                    <input type="checkbox" id="options_method" name="day3" value="Wednesday">
                                    <label for="day"> Wednesday</label><br>
                                    <input type="checkbox" id="options_method" name="day4" value="Thursday">
                                    <label for="day"> Thursday</label><br>
                                    <input type="checkbox" id="options_method" name="day5" value="Friday">
                                    <label for="day"> Friday</label><br>
                                    <input type="checkbox" id="options_method" name="day6" value="Saturday">
                                    <label for="day"> Saturday</label><br>
                                    <input type="checkbox" id="options_method" name="day7" value="Sunday">
                                    <label for="day"> Sunday</label><br><br>
                                </div>
                                <div style="display: inline-block;">
                                    <p style="text-align: center;">CONTENT_TYPE</p>
                                    <input type="checkbox" id="get_method" name="type1" value="Application">
                                    <label for="type1"> Application</label><br>
                                    <input type="checkbox" id="post_method" name="type2" value="Image">
                                    <label for="type2"> Image</label><br>
                                    <input type="checkbox" id="options_method" name="type3" value="Text">
                                    <label for="type3"> Text</label><br>
                                    <input type="checkbox" id="options_method" name="type4" value="Font">
                                    <label for="type4"> Font</label><br><br><br><br><br>
                                </div>
                                <input type="submit" id="chart_2_submit" value="Submit">
                            </form>
                        </div>





                        <h3 style="text-align: center; margin-top: 30px;">IP'S MAP</h3>
                        <p style="text-align: center;">Location of IP's clients send HTTP requests</p>
                        <div id="mapid" style="height: 500px; width:auto; margin-top: 30px;"></div>

                        <div  style="text-align: left; margin-bottom: 40px;">
                            <ul>
                                <li>Bolder the line -> Frequentlier requested </li>
                                <li>Thinner the line -> Less often requested</li>
                            </ul>
                        </div>

                </div>



</body>

</html>